{{ block title }}

{{ extends 'global/Progress_Bar.html' }}

{{ endblock }}

{{ block content }}

<h3>{{ Lexicon.comprehension}}</h3>


<br>
{{ if fr }}
Supposons que le <b>{{ Lexicon.interest_rate }} soit
    <span style="color: #ff0000">
        inférieur
    </span> au {{ Lexicon.inflation_rate }}</b> et que vous estimez que
cela doit durer jusqu'à la fin du jeu.

{{ else }}
Suppose the <b>{{ Lexicon.interest_rate }} is
    <span style="color: #ff0000">
        less than
    </span> the {{ Lexicon.inflation_rate }}</b> and that you expect that
will last the rest of the game.

{{ endif }}
<br>
<br>

{{ Lexicon.task_int_q_qt }}

{{ formfield 'q7' }}


{{ Lexicon.task_int_q_do }}
{{ formfield 'q8' }}

{{ next_button }}

<!-- CSS styles -->
{{ block styles }}
<link rel="stylesheet" href="{{ static 'task.css' }}">
{{ endblock }}

<h1>
    {{ if fr }}
    Mois 117 sur {{ C.NUM_PERIODS }}
    {{ else }}
    Month 117 of {{ C.NUM_PERIODS }}
    {{ endif }}
</h1>

{{ extends 'global/Game_Dashboard.html' }}

<br>
<div class="break"></div>
<div class="break"></div>
<div class="break"></div>
<div class="break"></div>
<br>

<div class="flex-container">

    {{ extends 'global/Catalog.html' }}

    <div class="flex-child-4">

        {{ extends 'global/My_Cart.html' }}

        <button class="btn btn-primary">
            Finalize Purchase (Total : <b><span id="cart-total"></span></b>)
        </button>

        <script>

            let myCart = document.getElementById('cart-body');
            let myBalance = document.getElementById('cart-body2');
            let cartTotal = document.getElementById('cart-total');
            let cardInterestEarned = document.getElementById('interest-earned');
            let cardCashOnHand = document.getElementById('total-cash');
            let cardFinalSavings = document.getElementById('final-savings');
            // let cardFinalStock = document.getElementById('final-stock');
            let cardNewPrice = document.getElementById('new-price');

            function cu(amount) {
                return `${amount} ₮`;
            }

            function liveRecv(data) {
                let html = '';
                for (let item of data.items) {
                    html += `
        <tr>
            <td>${item.name}</td>
            <td>${item.quantity}</td>
            <td>${cu(item.total_price.toFixed(2))}</td>
            <td><button type="button" value="${item.sku}" onclick="removeFromCart(this)" class="btn btn-secondary">-1</button></td>
        </tr>`;
                }
                myCart.innerHTML = html;
                cartTotal.innerText = cu(data.total_price.toFixed(2));
                cardInterestEarned.innerText = cu(data.interestEarned.toFixed(2));
                cardCashOnHand.innerText = cu(data.cashOnHand.toFixed(2));
                cardFinalSavings.innerText = cu(data.finalSavings.toFixed(2));
                // cardFinalStock.innerText = data.finalStock;
                cardNewPrice.innerText = cu(data.newPrice.toFixed(2));

            }

        </script>
    </div>
</div>

<br><br>

<script>

    function addToCart(ele) {
        modifyCart(ele.value, 1);
    }

    function removeFromCart(ele) {
        modifyCart(ele.value, -1);
    }

    function modifyCart(sku, delta) {
        liveSend({ 'sku': sku, 'delta': delta });
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        liveSend({});
    })

</script>

{{ endblock }}